#### Use SCRIPT_FREQ_MIN to determine how hosten (in minutes) the script will execure. More frequent execution may lead to frequent resizing.
SCRIPT_FREQ_MIN=1

#### EXCLUDE_CLUSTERS is an array of strings, space delimited.
EXCLUDE_CLUSTERS=(cluster1 cluster2)

#### Use the below values to set the min and max node count of worker nodes.
MAX_NODE_COUNT=3
MIN_NODE_COUNT=1

#### Use the below % values to set the high and low average CPU and MEM watermark of worker nodes before resizing kicks in to adjust the load.
### WIP
MIN_TOTAL_CPU=10
MAX_TOTAL_CPU=60
MAX_TOTAL_MEM=60

NAMESPACE="demo1"
